{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body style='background-color: #F8F8F8;'>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'createListing' %}">Create Auctions Listing</a>
                        <a class="nav-link" href="{% url 'watchlistView' %}">Watchlist</a>
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>
